@using MyFirstSurfaceControllerProject.Controllers
@model Umbraco.Web.Models.LoginModel

@using (Html.BeginUmbracoForm<LoginController>("Login"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>

    <div class="editor-label">
        @Html.LabelFor(model => model.Username)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <input type="hidden" name="Redirecturl" value="/" />

    <p>
        <input class="btn btn-primary loginButton" type="submit" value="Login" />
    </p>
</fieldset>
}